<html>
  <head>
    <!-- <link href="style.css" rel="stylesheet" type="text/css"> -->
  </head>
  <body>
    <h1>Thermostat</h1>

    <input id='cityForm' type='text'>
    <input id='citySubmit' type='submit' value='Submit'>

    <font size ="7"><div id="temp"></div></font>

    <input id="powerSavingToggle" type="button" value="Power Saving On"></input>

    <p><button id="raiseTemp" type="button">&#8593</button>

    <button id="lowerTemp" type="button">&#8595</button>

    <button id="resetButton" type="button">&#8634</button></p>


    The Weather in <span id='cityWeather'></span>:<div id='locationTemp'></div>

    The Weather in <span id='currentCity'></span>:<div id='currentTemp'></div>


  </body>
  <script src="./node_modules/jquery/dist/jquery.js"></script>
  <script src="./thermostat.js"></script>
  <script src="./application.js"></script>

</html>
